@model List<ResultProductDto>

<div class="col-lg-12">
    <section class='tabs-content'>
       
       
      
        @foreach(var item in Model)
        {
            <article id='tabs-@item.CategoryId'>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="left-list">
                            <div class="col-lg-12">
                                <div class="tab-item">
                                    <img src="~/klassy_cafe/assets/images/tab-item-01.png" alt="">
                                    <h4>Fresh Chicken Salad</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                    <div class="price">
                                        <h6>$10.50</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="tab-item">
                                    <img src="~/klassy_cafe/assets/images/tab-item-02.png" alt="">
                                    <h4>Orange Juice</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                    <div class="price">
                                        <h6>$8.50</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="tab-item">
                                    <img src="~/klassy_cafe/assets/images/tab-item-03.png" alt="">
                                    <h4>Fruit Salad</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                    <div class="price">
                                        <h6>$9.90</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="right-list">
                            <div class="col-lg-12">
                                <div class="tab-item">
                                    <img src="~/klassy_cafe/assets/images/tab-item-04.png" alt="">
                                    <h4>Eggs Omelette</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                    <div class="price">
                                        <h6>$6.50</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="tab-item">
                                    <img src="~/klassy_cafe/assets/images/tab-item-05.png" alt="">
                                    <h4>Dollma Pire</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                    <div class="price">
                                        <h6>$5.00</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="tab-item">
                                    <img src="~/klassy_cafe/assets/images/tab-item-06.png" alt="">
                                    <h4>Omelette & Cheese</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur koit adipiscing elit, sed do.</p>
                                    <div class="price">
                                        <h6>$4.10</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
   
        }
        
       
    </section>
</div>
