
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6>Hakkımızda</h6>
                        <h2>Size Lezzetli Bir Anı Bırakıyoruz</h2>
                    </div>
                    <p> Birbirinden tecrübeli şeflerimiz tarafından özenle hazırlanmış, başka hiç bir yerde bulamayacağınız tariflerimiz ile size tatlı bir anı bırakmayı hedefliyoruz. Kaliteli hizmet ve güler yüzlü personelimizle sizleri ağırlamaktan mutluluk duyuyoruz. Afiyetle keyif almanız için buradayız!<br><br>Taze malzemelerle hazırlanan pastalarımız, böreklerimiz ve kurabiyelerimizle her gün damak tadınıza hitap ediyoruz. Bu lezzetleri çok geç olmadan mutlaka deneyin.</p>
                    <div class="row">
                        <div class="col-4">
                            <img src="https://cdn.pixabay.com/photo/2017/04/04/14/26/praline-2201440_1280.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img src="https://cdn.pixabay.com/photo/2016/10/27/18/13/cake-1775964_1280.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img src="https://cdn.pixabay.com/photo/2018/05/19/02/18/pastry-3412586_1280.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="right-content">
                    <div class="thumb" >
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/OMk0vOmMxio?si=d5r7MW2hyqlYnZIl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
               
                    </div>
                </div>
            </div>

         
            </div>
        </div>
    </div>
</section>

