
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Menü</li>
            <li>
                <a href="javascript:void()" aria-expanded="false">
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/Slider/SliderList" aria-expanded="false">
                    <span class="nav-text">Slider Listesi</span>
                </a>
            </li>
            <li>
                <a href="#" aria-expanded="false">
                    <span class="nav-text">Hakkımızda</span>
                </a>
            </li>
            <li>
                <a href="/Category/CategoryList" aria-expanded="false">
                    <span class="nav-text">Kategoriler</span>
                </a>
            </li>
            <li>
                <a href="#" aria-expanded="false">
                    <span class="nav-text">Ürünler</span>
                </a>
            </li>
            <li>
                <a href="#" aria-expanded="false">
                    <span class="nav-text">Rezervasyonlar</span>
                </a>
            </li>
        </ul>
    </div>
</div>

